{
  "extends": [
      "eslint-config-egg",
      "prettier"
  ],
  "plugins": [
      "prettier"
  ],
  "rules": {
      "prettier/prettier": "error",
      "jsdoc/check-tag-names": "off",
      "jsdoc/require-param-description": "off",
      "jsdoc/check-param-names": "off",
      "jsdoc/require-param-type": "off",
      "@typescript-eslint/no-unused-vars": "off"
  }
}