logs/
npm-debug.log
yarn-error.log
node_modules/
package-lock.json
coverage/
.idea/
run/
.DS_Store
*.sw*
*.un~
typings/
.nyc_output/
conf
.github
dist
skywalking.log

app/**/*.js
test/**/*.js
config/**/*.js
app/**/*.map
test/**/*.map
config/**/*.map
conf/
.xprofiler